.navbar {
  background-color: #9370d8;
}

.jumbotron {
  color: #fff;
  padding-top: 6rem;
  background-color: #9370d8;
}

.jumbotron img {
  width: 200px;
}

#mahar h2,
#testimoni h2 {
  color: #fff;
}

#mahar,
#testimoni {
  padding-top: 2rem;
  background-color: #9370d8;
}

#seserahan {
  padding-top: 2rem;
}

#kontak button {
  background-color: #9370d8;
  border-color: #9370d8;
}

footer {
  background-color: #9370d8;
  padding-bottom: 8px;
}

footer p {
  color: #fff;
}

footer a,
a:hover {
  color: #fff;
  font-weight: bold;
}
